{{#if newListingForm}}
  <form>
    <div class="form-group">
      <label for="author">Name:</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      {{input value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      {{input value=content id="content"}}
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      {{input value=location id="location"}}
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      {{input value=image id="image"}}
    </div>

    <button {{action 'saveListing'}}>Save</button>
    <button {{action 'clearSaveListing'}}>Cancel</button>
  </form>
{{else}}
  <button {{action 'showListingForm'}}>Make New Listing</button>
{{/if}}
